{
  "openapi": "3.1.0",
  "info": {
    "title": "Outcome Assurance API",
    "version": "1.0.0",
    "description": "Verify whether agents achieved requested business outcomes via pre/postconditions, policy checks, side-effect detection and regression tests."
  },
  "servers": [
    {
      "url": "https://outcomeassurance-api.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness and deployed version",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Service index — endpoints, auth and error format",
        "operationId": "get/",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "post": {
        "summary": "Assure agent runs — did they achieve the requested outcome?",
        "description": "Submit the outcome that was requested, the world-state before and after, the declared pre/postconditions, any effects observed outside the state, and the prohibitions that applied. Returns a verdict per run: achieved, achieved_with_side_effects, partially_achieved, not_achieved or unverifiable. Every assertion comes back with its own reason code plus expected and actual, and every leaf-level change no postcondition accounted for is reported as a classified side effect. Attach a \"baseline\" run of the same outcome to get a regression report. Send one \"run\" or up to 100 in \"runs\" — billed one assured run per entry, baselines included free.",
        "operationId": "postV1Runs",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "certified": {
                      "type": "integer",
                      "description": "How many runs came back \"achieved\". Nothing else counts as certified."
                    },
                    "verdicts": {
                      "type": "object",
                      "description": "Count per verdict across the batch."
                    },
                    "runs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "runId": {
                            "type": "string"
                          },
                          "outcomeId": {
                            "type": "string"
                          },
                          "verdict": {
                            "type": "string",
                            "enum": [
                              "achieved",
                              "achieved_with_side_effects",
                              "partially_achieved",
                              "not_achieved",
                              "unverifiable"
                            ],
                            "description": "unverifiable is the honest answer when there is no after-state, no postconditions, a precondition that did not hold, or checks the state cannot support."
                          },
                          "verdictReason": {
                            "type": "string",
                            "description": "Stable code for why the verdict is what it is."
                          },
                          "detail": {
                            "type": "string"
                          },
                          "certified": {
                            "type": "boolean",
                            "description": "True only for \"achieved\". The single field to branch on for \"did it work\"."
                          },
                          "preconditions": {
                            "type": "object",
                            "description": "total / satisfied / failed / unevaluable, plus a result per assertion.",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "index": {
                                      "type": "integer"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "phase": {
                                      "type": "string",
                                      "enum": [
                                        "precondition",
                                        "postcondition"
                                      ]
                                    },
                                    "op": {
                                      "type": "string"
                                    },
                                    "path": {
                                      "type": "string"
                                    },
                                    "outcome": {
                                      "type": "string",
                                      "enum": [
                                        "satisfied",
                                        "failed",
                                        "unevaluable"
                                      ],
                                      "description": "unevaluable is never a pass."
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "Stable reason code. Branch on this, not on detail."
                                    },
                                    "detail": {
                                      "type": "string"
                                    },
                                    "expected": {
                                      "description": "What the assertion required. Always populated."
                                    },
                                    "actual": {
                                      "description": "What was found. null when the path was absent. Always populated."
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "postconditions": {
                            "type": "object",
                            "description": "Same shape as preconditions.",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "index": {
                                      "type": "integer"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "phase": {
                                      "type": "string",
                                      "enum": [
                                        "precondition",
                                        "postcondition"
                                      ]
                                    },
                                    "op": {
                                      "type": "string"
                                    },
                                    "path": {
                                      "type": "string"
                                    },
                                    "outcome": {
                                      "type": "string",
                                      "enum": [
                                        "satisfied",
                                        "failed",
                                        "unevaluable"
                                      ],
                                      "description": "unevaluable is never a pass."
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "Stable reason code. Branch on this, not on detail."
                                    },
                                    "detail": {
                                      "type": "string"
                                    },
                                    "expected": {
                                      "description": "What the assertion required. Always populated."
                                    },
                                    "actual": {
                                      "description": "What was found. null when the path was absent. Always populated."
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "sideEffects": {
                            "type": "object",
                            "description": "Every leaf-level difference between the two states that no postcondition accounted for, classified by severity.",
                            "properties": {
                              "evaluated": {
                                "type": "boolean"
                              },
                              "changes": {
                                "type": "integer"
                              },
                              "accounted": {
                                "type": "integer"
                              },
                              "ignored": {
                                "type": "integer"
                              },
                              "unaccounted": {
                                "type": "integer"
                              },
                              "maxSeverity": {
                                "type": "string",
                                "enum": [
                                  "low",
                                  "medium",
                                  "high",
                                  "critical"
                                ]
                              },
                              "findings": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "path": {
                                      "type": "string"
                                    },
                                    "change": {
                                      "type": "string",
                                      "enum": [
                                        "added",
                                        "removed",
                                        "modified"
                                      ]
                                    },
                                    "before": {},
                                    "after": {},
                                    "severity": {
                                      "type": "string",
                                      "enum": [
                                        "low",
                                        "medium",
                                        "high",
                                        "critical"
                                      ]
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "detail": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "string",
                                      "enum": [
                                        "state_diff",
                                        "policy"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "effects": {
                            "type": "object",
                            "description": "Observed effects outside the state, and whether each was declared."
                          },
                          "policy": {
                            "type": "object",
                            "description": "evaluated, compliant, and one violation per breach. Independent of the verdict."
                          },
                          "regression": {
                            "type": "object",
                            "description": "Present only when a baseline was supplied. status is regressed / improved / unchanged / inconclusive."
                          },
                          "evaluatedAt": {
                            "type": "string"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run": {
                    "type": "object",
                    "required": [
                      "runId",
                      "outcome",
                      "before"
                    ],
                    "properties": {
                      "runId": {
                        "type": "string"
                      },
                      "agent": {
                        "type": "string",
                        "description": "Agent name and version, e.g. refund-bot@2.3.1. Reported back, never interpreted."
                      },
                      "outcome": {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stable identifier for the outcome requested. Regression pairs runs on it."
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      },
                      "before": {
                        "type": "object",
                        "description": "The world before the agent acted. Required — without it nothing can be diffed and side-effect detection cannot run."
                      },
                      "after": {
                        "type": "object",
                        "description": "The world after. Its absence yields an unverifiable verdict; it is never assumed unchanged."
                      },
                      "preconditions": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "op",
                            "path"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                            },
                            "op": {
                              "type": "string",
                              "enum": [
                                "equals",
                                "not_equals",
                                "changed",
                                "unchanged",
                                "increased",
                                "decreased",
                                "within_range",
                                "matches",
                                "exists",
                                "absent",
                                "count_equals"
                              ],
                              "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                            },
                            "path": {
                              "type": "string",
                              "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                            },
                            "description": {
                              "type": "string",
                              "description": "Plain language, carried into the result so a failure reads as a sentence."
                            },
                            "value": {
                              "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                            },
                            "by": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                            },
                            "min": {
                              "type": "number",
                              "description": "within_range: inclusive lower bound."
                            },
                            "max": {
                              "type": "number",
                              "description": "within_range: inclusive upper bound."
                            },
                            "pattern": {
                              "type": "string",
                              "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                            },
                            "currency": {
                              "type": "string",
                              "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                            }
                          }
                        },
                        "description": "What had to be true for the run to be a valid instance of the outcome. A precondition that fails or cannot be evaluated makes the run unverifiable."
                      },
                      "postconditions": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "op",
                            "path"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                            },
                            "op": {
                              "type": "string",
                              "enum": [
                                "equals",
                                "not_equals",
                                "changed",
                                "unchanged",
                                "increased",
                                "decreased",
                                "within_range",
                                "matches",
                                "exists",
                                "absent",
                                "count_equals"
                              ],
                              "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                            },
                            "path": {
                              "type": "string",
                              "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                            },
                            "description": {
                              "type": "string",
                              "description": "Plain language, carried into the result so a failure reads as a sentence."
                            },
                            "value": {
                              "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                            },
                            "by": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                            },
                            "min": {
                              "type": "number",
                              "description": "within_range: inclusive lower bound."
                            },
                            "max": {
                              "type": "number",
                              "description": "within_range: inclusive upper bound."
                            },
                            "pattern": {
                              "type": "string",
                              "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                            },
                            "currency": {
                              "type": "string",
                              "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                            }
                          }
                        },
                        "description": "What must be true afterwards. With none declared the verdict is unverifiable — there is no definition of success to check."
                      },
                      "expectedChanges": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string"
                        },
                        "description": "Path globs you expect to change. * matches one segment, ** matches any number. Changes inside them are accounted for."
                      },
                      "ignorePaths": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string"
                        },
                        "description": "Path globs excluded from side-effect detection entirely, e.g. **.updatedAt. Silenced changes are still counted."
                      },
                      "declaredEffects": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind",
                            "target"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ]
                            },
                            "target": {
                              "type": "string",
                              "description": "Glob."
                            }
                          }
                        },
                        "description": "Effects outside the state that the outcome said would happen."
                      },
                      "observedEffects": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind",
                            "target"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ]
                            },
                            "target": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "amountMinor": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "Integer minor units. Requires currency."
                            },
                            "currency": {
                              "type": "string"
                            }
                          }
                        },
                        "description": "Effects actually observed outside the state — emails sent, payments captured. These cannot be derived from a diff, so you report them."
                      },
                      "policies": {
                        "type": "array",
                        "maxItems": 50,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "kind": {
                              "type": "string",
                              "enum": [
                                "forbid_change",
                                "forbid_effect",
                                "max_delta"
                              ]
                            },
                            "path": {
                              "type": "string",
                              "description": "forbid_change / max_delta: a path glob."
                            },
                            "effect": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ],
                              "description": "forbid_effect: the kind of effect that is not permitted."
                            },
                            "target": {
                              "type": "string",
                              "description": "forbid_effect: optional target glob. Defaults to every target."
                            },
                            "maxDeltaMinor": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "max_delta: the largest permitted absolute movement, integer minor units."
                            },
                            "currency": {
                              "type": "string",
                              "description": "max_delta: restricts the rule to money in this currency. A different currency is itself a violation."
                            }
                          }
                        },
                        "description": "Prohibitions. Postconditions say what MUST become true; policies say what must NOT happen, whatever the outcome. A policy always outranks a declaration."
                      },
                      "baseline": {
                        "type": "object",
                        "description": "A prior run of the SAME outcome. Assured with the same engine and compared, producing a regression report. Not billed separately."
                      },
                      "evaluatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Stamped into the report. Supply it to replay a stored run byte-for-byte."
                      },
                      "metadata": {
                        "type": "object"
                      }
                    }
                  },
                  "runs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "runId",
                        "outcome",
                        "before"
                      ],
                      "properties": {
                        "runId": {
                          "type": "string"
                        },
                        "agent": {
                          "type": "string",
                          "description": "Agent name and version, e.g. refund-bot@2.3.1. Reported back, never interpreted."
                        },
                        "outcome": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Stable identifier for the outcome requested. Regression pairs runs on it."
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        },
                        "before": {
                          "type": "object",
                          "description": "The world before the agent acted. Required — without it nothing can be diffed and side-effect detection cannot run."
                        },
                        "after": {
                          "type": "object",
                          "description": "The world after. Its absence yields an unverifiable verdict; it is never assumed unchanged."
                        },
                        "preconditions": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "object",
                            "required": [
                              "op",
                              "path"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                              },
                              "op": {
                                "type": "string",
                                "enum": [
                                  "equals",
                                  "not_equals",
                                  "changed",
                                  "unchanged",
                                  "increased",
                                  "decreased",
                                  "within_range",
                                  "matches",
                                  "exists",
                                  "absent",
                                  "count_equals"
                                ],
                                "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                              },
                              "path": {
                                "type": "string",
                                "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                              },
                              "description": {
                                "type": "string",
                                "description": "Plain language, carried into the result so a failure reads as a sentence."
                              },
                              "value": {
                                "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                              },
                              "by": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                              },
                              "min": {
                                "type": "number",
                                "description": "within_range: inclusive lower bound."
                              },
                              "max": {
                                "type": "number",
                                "description": "within_range: inclusive upper bound."
                              },
                              "pattern": {
                                "type": "string",
                                "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                              },
                              "currency": {
                                "type": "string",
                                "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                              }
                            }
                          },
                          "description": "What had to be true for the run to be a valid instance of the outcome. A precondition that fails or cannot be evaluated makes the run unverifiable."
                        },
                        "postconditions": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "object",
                            "required": [
                              "op",
                              "path"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                              },
                              "op": {
                                "type": "string",
                                "enum": [
                                  "equals",
                                  "not_equals",
                                  "changed",
                                  "unchanged",
                                  "increased",
                                  "decreased",
                                  "within_range",
                                  "matches",
                                  "exists",
                                  "absent",
                                  "count_equals"
                                ],
                                "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                              },
                              "path": {
                                "type": "string",
                                "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                              },
                              "description": {
                                "type": "string",
                                "description": "Plain language, carried into the result so a failure reads as a sentence."
                              },
                              "value": {
                                "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                              },
                              "by": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                              },
                              "min": {
                                "type": "number",
                                "description": "within_range: inclusive lower bound."
                              },
                              "max": {
                                "type": "number",
                                "description": "within_range: inclusive upper bound."
                              },
                              "pattern": {
                                "type": "string",
                                "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                              },
                              "currency": {
                                "type": "string",
                                "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                              }
                            }
                          },
                          "description": "What must be true afterwards. With none declared the verdict is unverifiable — there is no definition of success to check."
                        },
                        "expectedChanges": {
                          "type": "array",
                          "maxItems": 100,
                          "items": {
                            "type": "string"
                          },
                          "description": "Path globs you expect to change. * matches one segment, ** matches any number. Changes inside them are accounted for."
                        },
                        "ignorePaths": {
                          "type": "array",
                          "maxItems": 100,
                          "items": {
                            "type": "string"
                          },
                          "description": "Path globs excluded from side-effect detection entirely, e.g. **.updatedAt. Silenced changes are still counted."
                        },
                        "declaredEffects": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "object",
                            "required": [
                              "kind",
                              "target"
                            ],
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "payment",
                                  "refund",
                                  "transfer",
                                  "delete",
                                  "email",
                                  "notification",
                                  "external_write",
                                  "create",
                                  "update",
                                  "external_read",
                                  "other"
                                ]
                              },
                              "target": {
                                "type": "string",
                                "description": "Glob."
                              }
                            }
                          },
                          "description": "Effects outside the state that the outcome said would happen."
                        },
                        "observedEffects": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "object",
                            "required": [
                              "kind",
                              "target"
                            ],
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "payment",
                                  "refund",
                                  "transfer",
                                  "delete",
                                  "email",
                                  "notification",
                                  "external_write",
                                  "create",
                                  "update",
                                  "external_read",
                                  "other"
                                ]
                              },
                              "target": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "amountMinor": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "Integer minor units. Requires currency."
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "description": "Effects actually observed outside the state — emails sent, payments captured. These cannot be derived from a diff, so you report them."
                        },
                        "policies": {
                          "type": "array",
                          "maxItems": 50,
                          "items": {
                            "type": "object",
                            "required": [
                              "kind"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "forbid_change",
                                  "forbid_effect",
                                  "max_delta"
                                ]
                              },
                              "path": {
                                "type": "string",
                                "description": "forbid_change / max_delta: a path glob."
                              },
                              "effect": {
                                "type": "string",
                                "enum": [
                                  "payment",
                                  "refund",
                                  "transfer",
                                  "delete",
                                  "email",
                                  "notification",
                                  "external_write",
                                  "create",
                                  "update",
                                  "external_read",
                                  "other"
                                ],
                                "description": "forbid_effect: the kind of effect that is not permitted."
                              },
                              "target": {
                                "type": "string",
                                "description": "forbid_effect: optional target glob. Defaults to every target."
                              },
                              "maxDeltaMinor": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "max_delta: the largest permitted absolute movement, integer minor units."
                              },
                              "currency": {
                                "type": "string",
                                "description": "max_delta: restricts the rule to money in this currency. A different currency is itself a violation."
                              }
                            }
                          },
                          "description": "Prohibitions. Postconditions say what MUST become true; policies say what must NOT happen, whatever the outcome. A policy always outranks a declaration."
                        },
                        "baseline": {
                          "type": "object",
                          "description": "A prior run of the SAME outcome. Assured with the same engine and compared, producing a regression report. Not billed separately."
                        },
                        "evaluatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Stamped into the report. Supply it to replay a stored run byte-for-byte."
                        },
                        "metadata": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "run": {
                  "runId": "run_7f3a91",
                  "agent": "refund-bot@2.3.1",
                  "outcome": {
                    "id": "refund_order_1188",
                    "description": "Refund order 1188 in full to the original payment method"
                  },
                  "before": {
                    "orders": {
                      "1188": {
                        "status": "paid",
                        "total": {
                          "amountMinor": 118800,
                          "currency": "USD"
                        },
                        "refundId": null
                      }
                    },
                    "customers": {
                      "c_44": {
                        "email": "customer@example.com",
                        "tier": "pro"
                      }
                    },
                    "ledger": {
                      "payouts": {
                        "amountMinor": 4820000,
                        "currency": "USD"
                      }
                    }
                  },
                  "after": {
                    "orders": {
                      "1188": {
                        "status": "refunded",
                        "total": {
                          "amountMinor": 118800,
                          "currency": "USD"
                        },
                        "refundId": "re_9021"
                      }
                    },
                    "customers": {
                      "c_44": {
                        "email": "customer@example.com",
                        "tier": "free"
                      }
                    },
                    "ledger": {
                      "payouts": {
                        "amountMinor": 4701200,
                        "currency": "USD"
                      }
                    }
                  },
                  "preconditions": [
                    {
                      "op": "equals",
                      "path": "orders.1188.status",
                      "value": "paid"
                    }
                  ],
                  "postconditions": [
                    {
                      "op": "equals",
                      "path": "orders.1188.status",
                      "value": "refunded"
                    },
                    {
                      "op": "exists",
                      "path": "orders.1188.refundId"
                    }
                  ],
                  "expectedChanges": [
                    "ledger.payouts"
                  ],
                  "declaredEffects": [
                    {
                      "kind": "refund",
                      "target": "psp.example"
                    }
                  ],
                  "observedEffects": [
                    {
                      "kind": "refund",
                      "target": "psp.example",
                      "amountMinor": 118800,
                      "currency": "USD"
                    },
                    {
                      "kind": "email",
                      "target": "customer@example.com",
                      "description": "Refund confirmation"
                    }
                  ],
                  "policies": [
                    {
                      "id": "no-tier-edits",
                      "kind": "forbid_change",
                      "path": "customers.**.tier"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-quota-cost": 0
      }
    },
    "/v1/demo/assure": {
      "post": {
        "summary": "Public demo — assure one agent run without a key",
        "description": "The real engine, capped at one run, 20 assertions and 200 state values across both states. Identical verdicts to the paid endpoint — the caps are on size, never on behaviour. Nothing is stored and nothing is metered.",
        "operationId": "postV1DemoAssure",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "run": {
                      "type": "object",
                      "properties": {
                        "runId": {
                          "type": "string"
                        },
                        "outcomeId": {
                          "type": "string"
                        },
                        "verdict": {
                          "type": "string",
                          "enum": [
                            "achieved",
                            "achieved_with_side_effects",
                            "partially_achieved",
                            "not_achieved",
                            "unverifiable"
                          ],
                          "description": "unverifiable is the honest answer when there is no after-state, no postconditions, a precondition that did not hold, or checks the state cannot support."
                        },
                        "verdictReason": {
                          "type": "string",
                          "description": "Stable code for why the verdict is what it is."
                        },
                        "detail": {
                          "type": "string"
                        },
                        "certified": {
                          "type": "boolean",
                          "description": "True only for \"achieved\". The single field to branch on for \"did it work\"."
                        },
                        "preconditions": {
                          "type": "object",
                          "description": "total / satisfied / failed / unevaluable, plus a result per assertion.",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "index": {
                                    "type": "integer"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "phase": {
                                    "type": "string",
                                    "enum": [
                                      "precondition",
                                      "postcondition"
                                    ]
                                  },
                                  "op": {
                                    "type": "string"
                                  },
                                  "path": {
                                    "type": "string"
                                  },
                                  "outcome": {
                                    "type": "string",
                                    "enum": [
                                      "satisfied",
                                      "failed",
                                      "unevaluable"
                                    ],
                                    "description": "unevaluable is never a pass."
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "Stable reason code. Branch on this, not on detail."
                                  },
                                  "detail": {
                                    "type": "string"
                                  },
                                  "expected": {
                                    "description": "What the assertion required. Always populated."
                                  },
                                  "actual": {
                                    "description": "What was found. null when the path was absent. Always populated."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "postconditions": {
                          "type": "object",
                          "description": "Same shape as preconditions.",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "index": {
                                    "type": "integer"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "phase": {
                                    "type": "string",
                                    "enum": [
                                      "precondition",
                                      "postcondition"
                                    ]
                                  },
                                  "op": {
                                    "type": "string"
                                  },
                                  "path": {
                                    "type": "string"
                                  },
                                  "outcome": {
                                    "type": "string",
                                    "enum": [
                                      "satisfied",
                                      "failed",
                                      "unevaluable"
                                    ],
                                    "description": "unevaluable is never a pass."
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "Stable reason code. Branch on this, not on detail."
                                  },
                                  "detail": {
                                    "type": "string"
                                  },
                                  "expected": {
                                    "description": "What the assertion required. Always populated."
                                  },
                                  "actual": {
                                    "description": "What was found. null when the path was absent. Always populated."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "sideEffects": {
                          "type": "object",
                          "description": "Every leaf-level difference between the two states that no postcondition accounted for, classified by severity.",
                          "properties": {
                            "evaluated": {
                              "type": "boolean"
                            },
                            "changes": {
                              "type": "integer"
                            },
                            "accounted": {
                              "type": "integer"
                            },
                            "ignored": {
                              "type": "integer"
                            },
                            "unaccounted": {
                              "type": "integer"
                            },
                            "maxSeverity": {
                              "type": "string",
                              "enum": [
                                "low",
                                "medium",
                                "high",
                                "critical"
                              ]
                            },
                            "findings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "path": {
                                    "type": "string"
                                  },
                                  "change": {
                                    "type": "string",
                                    "enum": [
                                      "added",
                                      "removed",
                                      "modified"
                                    ]
                                  },
                                  "before": {},
                                  "after": {},
                                  "severity": {
                                    "type": "string",
                                    "enum": [
                                      "low",
                                      "medium",
                                      "high",
                                      "critical"
                                    ]
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "detail": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string",
                                    "enum": [
                                      "state_diff",
                                      "policy"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "effects": {
                          "type": "object",
                          "description": "Observed effects outside the state, and whether each was declared."
                        },
                        "policy": {
                          "type": "object",
                          "description": "evaluated, compliant, and one violation per breach. Independent of the verdict."
                        },
                        "regression": {
                          "type": "object",
                          "description": "Present only when a baseline was supplied. status is regressed / improved / unchanged / inconclusive."
                        },
                        "evaluatedAt": {
                          "type": "string"
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "run"
                ],
                "properties": {
                  "run": {
                    "type": "object",
                    "required": [
                      "runId",
                      "outcome",
                      "before"
                    ],
                    "properties": {
                      "runId": {
                        "type": "string"
                      },
                      "agent": {
                        "type": "string",
                        "description": "Agent name and version, e.g. refund-bot@2.3.1. Reported back, never interpreted."
                      },
                      "outcome": {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stable identifier for the outcome requested. Regression pairs runs on it."
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      },
                      "before": {
                        "type": "object",
                        "description": "The world before the agent acted. Required — without it nothing can be diffed and side-effect detection cannot run."
                      },
                      "after": {
                        "type": "object",
                        "description": "The world after. Its absence yields an unverifiable verdict; it is never assumed unchanged."
                      },
                      "preconditions": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "op",
                            "path"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                            },
                            "op": {
                              "type": "string",
                              "enum": [
                                "equals",
                                "not_equals",
                                "changed",
                                "unchanged",
                                "increased",
                                "decreased",
                                "within_range",
                                "matches",
                                "exists",
                                "absent",
                                "count_equals"
                              ],
                              "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                            },
                            "path": {
                              "type": "string",
                              "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                            },
                            "description": {
                              "type": "string",
                              "description": "Plain language, carried into the result so a failure reads as a sentence."
                            },
                            "value": {
                              "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                            },
                            "by": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                            },
                            "min": {
                              "type": "number",
                              "description": "within_range: inclusive lower bound."
                            },
                            "max": {
                              "type": "number",
                              "description": "within_range: inclusive upper bound."
                            },
                            "pattern": {
                              "type": "string",
                              "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                            },
                            "currency": {
                              "type": "string",
                              "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                            }
                          }
                        },
                        "description": "What had to be true for the run to be a valid instance of the outcome. A precondition that fails or cannot be evaluated makes the run unverifiable."
                      },
                      "postconditions": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "op",
                            "path"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Your identifier. Used to pair assertions across runs during regression comparison."
                            },
                            "op": {
                              "type": "string",
                              "enum": [
                                "equals",
                                "not_equals",
                                "changed",
                                "unchanged",
                                "increased",
                                "decreased",
                                "within_range",
                                "matches",
                                "exists",
                                "absent",
                                "count_equals"
                              ],
                              "description": "changed, unchanged, increased and decreased compare both states; the rest read one. A comparative op used as a precondition is unevaluable."
                            },
                            "path": {
                              "type": "string",
                              "description": "Dotted path into the state. Array elements are numeric segments: orders.1188.lines.0.sku. No wildcards."
                            },
                            "description": {
                              "type": "string",
                              "description": "Plain language, carried into the result so a failure reads as a sentence."
                            },
                            "value": {
                              "description": "equals / not_equals: the required value, which may be a whole subtree. count_equals: the required number of entries."
                            },
                            "by": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "increased / decreased: the EXACT required movement. Omit to require only the direction."
                            },
                            "min": {
                              "type": "number",
                              "description": "within_range: inclusive lower bound."
                            },
                            "max": {
                              "type": "number",
                              "description": "within_range: inclusive upper bound."
                            },
                            "pattern": {
                              "type": "string",
                              "description": "matches: a regular expression, tested against a string value. Backreferences and a quantifier nested inside a quantified group — the \"(a+)+\" shape — are refused, because they can backtrack exponentially on a single-threaded server."
                            },
                            "currency": {
                              "type": "string",
                              "description": "ISO-4217. Required when a numeric comparison targets money — the API will not guess which currency your bounds are in."
                            }
                          }
                        },
                        "description": "What must be true afterwards. With none declared the verdict is unverifiable — there is no definition of success to check."
                      },
                      "expectedChanges": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string"
                        },
                        "description": "Path globs you expect to change. * matches one segment, ** matches any number. Changes inside them are accounted for."
                      },
                      "ignorePaths": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string"
                        },
                        "description": "Path globs excluded from side-effect detection entirely, e.g. **.updatedAt. Silenced changes are still counted."
                      },
                      "declaredEffects": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind",
                            "target"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ]
                            },
                            "target": {
                              "type": "string",
                              "description": "Glob."
                            }
                          }
                        },
                        "description": "Effects outside the state that the outcome said would happen."
                      },
                      "observedEffects": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind",
                            "target"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ]
                            },
                            "target": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "amountMinor": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "Integer minor units. Requires currency."
                            },
                            "currency": {
                              "type": "string"
                            }
                          }
                        },
                        "description": "Effects actually observed outside the state — emails sent, payments captured. These cannot be derived from a diff, so you report them."
                      },
                      "policies": {
                        "type": "array",
                        "maxItems": 50,
                        "items": {
                          "type": "object",
                          "required": [
                            "kind"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "kind": {
                              "type": "string",
                              "enum": [
                                "forbid_change",
                                "forbid_effect",
                                "max_delta"
                              ]
                            },
                            "path": {
                              "type": "string",
                              "description": "forbid_change / max_delta: a path glob."
                            },
                            "effect": {
                              "type": "string",
                              "enum": [
                                "payment",
                                "refund",
                                "transfer",
                                "delete",
                                "email",
                                "notification",
                                "external_write",
                                "create",
                                "update",
                                "external_read",
                                "other"
                              ],
                              "description": "forbid_effect: the kind of effect that is not permitted."
                            },
                            "target": {
                              "type": "string",
                              "description": "forbid_effect: optional target glob. Defaults to every target."
                            },
                            "maxDeltaMinor": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "max_delta: the largest permitted absolute movement, integer minor units."
                            },
                            "currency": {
                              "type": "string",
                              "description": "max_delta: restricts the rule to money in this currency. A different currency is itself a violation."
                            }
                          }
                        },
                        "description": "Prohibitions. Postconditions say what MUST become true; policies say what must NOT happen, whatever the outcome. A policy always outranks a declaration."
                      },
                      "baseline": {
                        "type": "object",
                        "description": "A prior run of the SAME outcome. Assured with the same engine and compared, producing a regression report. Not billed separately."
                      },
                      "evaluatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Stamped into the report. Supply it to replay a stored run byte-for-byte."
                      },
                      "metadata": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "example": {
                "run": {
                  "runId": "run_7f3a91",
                  "agent": "refund-bot@2.3.1",
                  "outcome": {
                    "id": "refund_order_1188",
                    "description": "Refund order 1188 in full to the original payment method"
                  },
                  "before": {
                    "orders": {
                      "1188": {
                        "status": "paid",
                        "total": {
                          "amountMinor": 118800,
                          "currency": "USD"
                        },
                        "refundId": null
                      }
                    },
                    "customers": {
                      "c_44": {
                        "email": "customer@example.com",
                        "tier": "pro"
                      }
                    },
                    "ledger": {
                      "payouts": {
                        "amountMinor": 4820000,
                        "currency": "USD"
                      }
                    }
                  },
                  "after": {
                    "orders": {
                      "1188": {
                        "status": "refunded",
                        "total": {
                          "amountMinor": 118800,
                          "currency": "USD"
                        },
                        "refundId": "re_9021"
                      }
                    },
                    "customers": {
                      "c_44": {
                        "email": "customer@example.com",
                        "tier": "free"
                      }
                    },
                    "ledger": {
                      "payouts": {
                        "amountMinor": 4701200,
                        "currency": "USD"
                      }
                    }
                  },
                  "preconditions": [
                    {
                      "op": "equals",
                      "path": "orders.1188.status",
                      "value": "paid"
                    }
                  ],
                  "postconditions": [
                    {
                      "op": "equals",
                      "path": "orders.1188.status",
                      "value": "refunded"
                    },
                    {
                      "op": "exists",
                      "path": "orders.1188.refundId"
                    }
                  ],
                  "expectedChanges": [
                    "ledger.payouts"
                  ],
                  "declaredEffects": [
                    {
                      "kind": "refund",
                      "target": "psp.example"
                    }
                  ],
                  "observedEffects": [
                    {
                      "kind": "refund",
                      "target": "psp.example",
                      "amountMinor": 118800,
                      "currency": "USD"
                    },
                    {
                      "kind": "email",
                      "target": "customer@example.com",
                      "description": "Refund confirmation"
                    }
                  ],
                  "policies": [
                    {
                      "id": "no-tier-edits",
                      "kind": "forbid_change",
                      "path": "customers.**.tier"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/assertion-types": {
      "get": {
        "summary": "Every assertion operator, verdict and reason code the engine emits",
        "description": "The catalogue an integrator codes against. Branch on these codes rather than on the human-readable detail, which may change. Includes what each operator compares, which state it reads, the five verdicts and when each is returned, every assertion reason code split into failures and unevaluable causes, the side-effect severity ladder and the policy kinds.",
        "operationId": "getV1AssertionTypes",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assertionOps": {
                      "type": "object"
                    },
                    "verdicts": {
                      "type": "object"
                    },
                    "verdictReasons": {
                      "type": "object"
                    },
                    "assertionOutcomes": {
                      "type": "object"
                    },
                    "failureCodes": {
                      "type": "object"
                    },
                    "unevaluableCodes": {
                      "type": "object"
                    },
                    "sideEffectSeverity": {
                      "type": "object"
                    },
                    "sideEffectCodes": {
                      "type": "object"
                    },
                    "effectKinds": {
                      "type": "object"
                    },
                    "policyKinds": {
                      "type": "object"
                    },
                    "regressionStatuses": {
                      "type": "object"
                    },
                    "limits": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/checkout": {
      "post": {
        "summary": "Start a hosted Square checkout for a paid tier",
        "description": "Returns a Square-hosted payment URL for the requested tier. No API key is needed — a prospect has not got one yet. The email Square collects becomes the account, so a key issued later for the same address inherits the paid quota. Enterprise returns a contact route rather than a payment link. THIS IS THE PATH FOR SOMEONE WHO IS NOT YET PAYING. It starts a NEW Square recurring subscription, so it is refused with 409 `conflict` (`details.reason` `existing_subscription`) when the request carries a dashboard session for an account that already has a live plan on this API — a second subscription would be charged alongside the first, every month, and this API cannot cancel either one. Change tier with POST /v1/subscription/plan, or, when Square collects your base fee, cancel it with Square first.",
        "operationId": "postV1Checkout",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Square-hosted payment page. Redirect the buyer here."
                    },
                    "tier": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tier"
                ],
                "properties": {
                  "tier": {
                    "type": "string",
                    "description": "developer | growth | scale | enterprise"
                  }
                }
              },
              "example": {
                "tier": "developer"
              }
            }
          }
        }
      }
    },
    "/api/billing/webhook": {
      "post": {
        "summary": "Square billing events, forwarded by the shared hub",
        "description": "Machine-to-machine only. The shared Square billing hub POSTs signed events here; the signature is verified over the exact request bytes. Not callable by API consumers — documented so the integration is auditable.",
        "operationId": "postApiBillingWebhook",
        "security": [
          {
            "hubSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "summary": "Request a free sandbox API key (sends a verification email)",
        "description": "Starts self-serve key issuance. A one-time claim token is emailed to the address you supply; POST it to /v1/keys/claim to receive the key. No key is returned here, and the response is the same whether or not that address already has an account — so this endpoint cannot be used to find out who has one. The email is verified because your account, your usage and your invoice are all keyed to it: issuing on an unverified address would let anyone mint a working key on your account and spend your allowance. Keep using the same address and a paid plan bought with it raises the keys you already hold rather than issuing new ones. Distributed integrations may identify their discovery surface with the optional source object or x-integration-source header; invalid source values are ignored and never block key issuance.",
        "operationId": "postV1Keys",
        "security": [],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "verification_sent"
                      ]
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "After this, request a new one."
                    },
                    "next": {
                      "type": "string",
                      "description": "The endpoint that turns the emailed token into a key."
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Where the claim token is sent. This becomes your account."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "Optional label for the key, e.g. \"staging\". Shown in GET /v1/keys."
                  },
                  "source": {
                    "type": "object",
                    "description": "Optional discovery metadata supplied by a README, SDK, Postman collection or MCP client.",
                    "properties": {
                      "source": {
                        "type": "string"
                      },
                      "medium": {
                        "type": "string"
                      },
                      "campaign": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "email": "you@example.com",
                "name": "staging",
                "source": {
                  "source": "web",
                  "medium": "docs"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List your API keys for this API",
        "description": "Every key on YOUR account for this API — label, non-secret prefix, status, when it was created, when it was last used, and what it has consumed this period. Authenticate with any active key on the account; the account is taken from that key, never from a parameter, so this can only ever return your own keys. Keys you hold for other APIs in the portfolio are not listed here. Secrets are not returned and cannot be: only a peppered hash is stored. Free, and consumes no quota.",
        "operationId": "getV1Keys",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "description": "The label given at creation."
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Non-secret leading characters, so you can tell two keys apart without holding either."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "revoked"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
[...]
